extends ../layout
block content
  .container
    .row
      .col-md-8
        .youplay-form
          h2 ثبت نام
          if message
            h3.alert.alert-danger.text-center= message

          form(action="/auth/signup", method="post")
            .form-horizontal
              .form-group
                label.control-label.col-sm-4(for='family_name') * نام و نام خانوادگی:
                .col-sm-8
                  .youplay-input
                    input#family_name(type='text', name="fullname",  placeholder='لطفا نام و نام خانوادگی خود را وارد کنید', required, pattern=".{6,}", title="حداقل 5 کاراکتر")
                label.control-label.col-sm-4(for='email') * پست الکترونیکی:
                .col-sm-8
                  .youplay-input
                    input#email(type='email', name="email", placeholder='لطفا ایمیل خود را وارد کنید', required)
              .form-group       
                label.control-label.col-sm-4(for='password') * رمز عبور:
                .col-sm-8
                  .youplay-input
                    input#password(type='password', name="password", pattern=".{6,}", placeholder='لطفا رمز عبور مورد نظر خود را وارد کنید (حداقل 6 حرف)', required, title="حداقل 5 کاراکتر")
                label.control-label.col-sm-4(for='confirm_password') * تکرار رمز عبور:
                .col-sm-8
                  .youplay-input
                    input#confirm_password(type='password', name="repeatpassword", pattern=".{6,}", placeholder='لطفا رمز عبور خود را مجددا وارد کنید', required, title="حداقل 5 کاراکتر")
              .form-group        
                label.control-label.col-sm-4(for='tel') شماره تلفن همراه:
                .col-sm-8
                  .youplay-input
                    input#tel(type='tel', placeholder='لطفا شماره تماس خود را وارد کنید')
                label.control-label.col-sm-4(for='age') سن:
                .col-sm-8
                  .youplay-input
                    input#age(type='text', placeholder='لطفا سن خود را وارد کنید')
                label.control-label.col-sm-4(for='gender') جنسیت:
                .col-sm-8
                  .youplay-select
                    select#gender(name="gender")
                      option(value="1") مرد
                      option(value="2") زن
                label.col-sm-4  
                button.btn.btn-default.btn-block ثبت نام

