extends ../layout-normal
block content
  .container.align-center
    .row
      .col-xs-12
        table.table
          tr
            td
              strong username
            td
              strong body
            td 
              strong DELETE
          each cm in comments
            tr
              td= cm._user.fullname
              td= cm.body
              td
                a(href="/admin/comments/#{cm._id}/delete")
                  span.fa.fa-trash