.game-categories
    .title
      h4
        i.fa.fa-gamepad
    .subtitle
      h6
        i.fa.fa-star
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
    .subtitle.other-games
      span دیگر بازی ها
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear
      .games
        a(href='#')
          img(src='/images/game-icons/bloodborne.jpg')
          ul
            li bloodborne
            li 2016
          .clear