form.p-a-1(method="post", action="/auth/login")
	.form-group
		input.form-control(type="text", name="email", placeholder="email")
	.form-group
		input.form-control(type="password", name="password", placeholder="password")
	button.m-b-1.btn.btn-secondary.btn-sm.pull-xs-left(type="submit") ورود
