nav.navbar-youplay.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='off-canvas', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bard
        span.icon-bar
      a.navbar-brand(href='/')
        img(src='/images/logo.png', alt='بازی ویژن')
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href='/news', data-toggle='dropdown', role='button', aria-expanded='false')
            span تازه ها
            span.label News
            
        li
          a(href='/videos', data-toggle='dropdown', role='button', aria-expanded='false')
            span ویدیوها
            span.label Videos
            
        li.dropdown.dropdown-hover
          a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
            | بازی ها 
            span.caret
            span.label Games
          .dropdown-menu
            ul(role='menu')
              li
                a(href='/games') بازی نامه ها            
              li.dropdown.dropdown-submenu.pull-left
                a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false') بر اساس پلتفرم
                .dropdown-menu(style='width: 310px;')
                  ul(role='menu').two-columns
                    each platform in platforms
                      li
                        a(href='/games/platform/'+platform.name)= platform.name
              li.dropdown.dropdown-submenu.pull-left
                a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false') بر اساس سبک  
                .dropdown-menu(style='width: 380px;')
                  ul(role='menu').two-columns
                    each genre in genres
                      li
                        a(href='/games/genre/'+genre.name)= genre.name



      ul.nav.navbar-nav.navbar-right       
        if !currentUser
          li
            a(href='/auth/signup', data-toggle='dropdown', role='button', aria-expanded='false')
              | ثبت نام

          li
            a(href='/auth/login')
              | ورود
              span.label Login
        else
          li.dropdown.dropdown-hover
            a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false')
              = currentUser.fullname  
              span.caret
              if currentUser.admin
                span.label ادمین
            .dropdown-menu
              ul(role='menu')
                if currentUser.admin
                  li
                    a(href='/clips/new') آپلود ویدیو
                  li
                    a(href='/cats/new') بازی
                  li
                    a(href='/platforms') پلت فرم
                  li
                    a(href='/genres') سبک
                  li
                    a(href='/tags') تگ
                  li
                    a(href='/admin/comments') نظرات
                  li
                    a(href='/admin/news') تازه ها
                li
                  a(href='/auth/logout') خروج
        //- li
        //-   a.search-toggle(href='/search')
        //-     i.fa.fa-search

        li
          form(action='/search').mt-15
            .youplay-input
              input(type='text', name='query', placeholder='جستجو...')       


