.container-fluid
  .row.mt-100
    .col-sm-12.col-md-3
      .game-side-bar.row.p-l-0
        .col-sm-4.col-md-12.p-l-0
          .image-box.align-right  
            a(href='#')
              img(src='http://cdn.bazivision.com/images/cats/250/575d69de5753e65669dd7e89.jpg')
          .col-sm-4.col-md-12.p-l-0
          .image-box.align-right  
            a(href='#')
              img(src='http://cdn.bazivision.com/images/cats/250/57762ef3c989aa2a3bc4f8a3.jpg')
          .col-sm-4.col-md-12.p-l-0
          .image-box.align-right  
            a(href='#')
              img(src='http://cdn.bazivision.com/images/cats/250/576d49c9c118eb7262cc9790.jpg')

    .col-sm-12.col-md-6
      .event-section.row.p-0
        .col-sm-12.p-0.max-height-374
          a(href='#')
            img(src='http://www.pixelstalk.net/wp-content/uploads/2016/05/Free-hd-gaming-wallpapers.jpg')
        .col-sm-12.p-0.max-height-187
          a(href='#')
            img(src='http://wallup.net/wp-content/uploads/2016/01/258702-video_games-video_game_characters-video_game_girls-Tomb_Raider-Lara_Croft-fan_art-artwork-736x459.jpg')      
    .col-sm-4.col-md-3
      .side-block.banner-news
        h4.block-title تازه های بازی ها
        .block-content
          .row.you-play-side-news
            .col-xs-3.col-sm-6.col-md-5
              a.angled-img(href='#')
                .img
                  img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
            .col-xs-3.col-sm-6.col-md-7.p-l-0
              h5.m-0
                a(href='#', title='#') 
                  p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                  span.date
                    i.fa.fa-calendar
                      span ۲ ماه بیش
          .row.you-play-side-news
            .col-xs-3.col-sm-6.col-md-5
              a.angled-img(href='#')
                .img
                  img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
            .col-xs-3.col-sm-6.col-md-7.p-l-0
              h5.m-0
                a(href='#', title='#') 
                  p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                  span.date
                    i.fa.fa-calendar
                      span ۲ ماه بیش
          .row.you-play-side-news
            .col-xs-3.col-sm-6.col-md-5
              a.angled-img(href='#')
                .img
                  img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
            .col-xs-3.col-sm-6.col-md-7.p-l-0
              h5.m-0
                a(href='#', title='#') 
                  p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                  span.date
                    i.fa.fa-calendar
                      span ۲ ماه بیش  

          .row.you-play-side-news
            .col-xs-3.col-sm-6.col-md-5
              a.angled-img(href='#')
                .img
                  img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
            .col-xs-3.col-sm-6.col-md-7.p-l-0
              h5.m-0
                a(href='#', title='#') 
                  p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                  span.date
                    i.fa.fa-calendar
                      span ۲ ماه بیش  

           .row.you-play-side-news
            .col-xs-3.col-sm-6.col-md-5
              a.angled-img(href='#')
                .img
                  img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
            .col-xs-3.col-sm-6.col-md-7.p-l-0
              h5.m-0
                a(href='#', title='#') 
                  p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                  span.date
                    i.fa.fa-calendar
                      span ۲ ماه بیش

          .row.you-play-side-news
            .col-xs-3.col-sm-6.col-md-5
              a.angled-img(href='#')
                .img
                  img(src='http://cdn.bazivision.com/images/news/400/57b031d3cff44eda39cb172c.jpg' alt='').img-responsive
            .col-xs-3.col-sm-6.col-md-7.p-l-0
              h5.m-0
                a(href='#', title='#') 
                  p.m-0 برترین بازی سال ۲۰۱۶ ملادی بر اساس یکی 
                  span.date
                    i.fa.fa-calendar
                      span ۲ ماه بیش  