extends layout

block content
  .container.text-center.mt-100
    h1= message
    h2
      a.btn.btn-lg(href="/", title="صفحه اصلی") صفحه اصلی بازی ویژن
    
    p.hidden= hiddenMessage
    if errorObject
      h2= errorObject.status
      pre= errorObject.stack
