footer.youplay-footer-parallax
  .wrapper(style="background-image: url('#{prefix}/images/footer-bg.jpg')")
    .social
      .container
        h4.h3
          | با  
          strong bazivision
          |  در شبکه های اجتماعی همراه شوید
        .row.icons
          .col-xs-6.col-sm-3.col-sm-offset-3
            a(href='http://instagram.com/bazivision')
              i.fa.fa-instagram
              span ارتباط در اینستاگرام
          .col-xs-6.col-sm-3
            a(href='https://telegram.me/bazivision')
              i.fa.fa-paper-plane
              span ارتباط در تلگرام
    .copyright
      .container
        | تمامی حقوق برای سایت 
        strong bazivision
        |  محفوظ است


