include ./common/carousel
include ./common/video-carousel
include ./common/slider
extends layout

block content
  section.content-wrap
    +slider(cats)   
    +carousel(cats)

    h2.container.h1
      | پربازدیدها
      a.btn.pull-right(href='#!') بیشتر
    +video-carousel(clips)
    

    // todays video
    h2.container.h1
      | ویدیوهای روز
      a.btn.pull-right(href='#!') بیشتر
    +video-carousel(clips)

    // Specials
    h2.container.h1
      | تریلرها 
      a.btn.pull-right(href='#!') بیشتر
    +video-carousel(clips)
    // Preorder
    .h2
    section.youplay-banner.youplay-banner-parallax.small
      .image(style="background-image: url('/images/banner-witcher-3.jpg');")
      .info.container.align-center
        div
          h2
            | The Witcher 3:
            br
            |  Wild Hunt
          // See countdown init in bottom of the page
          .countdown.h2(data-end='2017/01/01')
          br
          br
          a.btn.btn-lg(href='#!') صفحه بازی
    // /Preorder
    // Latest News
    h2.container.h1 نقد بازی ها
    section.youplay-news.container
      // Single News Block
      .news-one.row.vertical-gutter
        .col-md-4
          a.angled-img(href='blog-post-1.html')
            .img
              img(src='/images/game-bloodborne-500x375.jpg', alt='')
            .youplay-hexagon-rating.youplay-hexagon-rating-small(data-max='10', data-size='50', title='9.1 out of 10')
              span 9.1
        .col-md-8
          .clearfix
            h3.h2.pull-left.m-0
              a(href='blog-post-1.html') نقد بازی Bloodborne  از دیدگاه bazivision
            span.date.pull-right
              i.fa.fa-calendar
              |  امروز
          .tags
            i.fa.fa-tags
            a(href='#') Bloodborne
            | , 
            a(href='#') first try
            | , 
            a(href='#') first boss problem
            | , 
            a(href='#') newbie game
          .description
            p
              | تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست
            p
              | تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست
          a.btn.read-more.pull-left(href='blog-post-1.html') ادامه مطلب
      // /Single News Block
      // Single News Block
      .news-one.row.vertical-gutter
        .col-md-4
          a.angled-img(href='blog-post-2.html')
            .img
              img(src='/images/game-dark-souls-ii-500x375.jpg', alt='')
            .youplay-hexagon-rating.youplay-hexagon-rating-small(data-max='10', data-size='50', title='9 out of 10')
              span 9
        .col-md-8
          .clearfix
            h3.h2.pull-left.m-0
              a(href='blog-post-2.html') تفاوت Dark Soul II و Dark Soul I
            span.date.pull-right
              i.fa.fa-calendar
              |  9 بهمن، 1394
          .tags
            i.fa.fa-tags
            a(href='#') Dark Souls II
            | , 
            a(href='#') coming soon
            | , 
            a(href='#') first review
            | , 
            a(href='#') sale date
          .description
            p
              | تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست
          a.btn.read-more.pull-left(href='blog-post-2.html') ادامه مطلب
      // /Single News Block
      // Single News Block
      .news-one.row.vertical-gutter
        .col-md-4
          a.angled-img(href='blog-post-3.html')
            .img
              img(src='/images/game-kingdoms-of-amalur-reckoning-500x375.jpg', alt='')
            .youplay-hexagon-rating.youplay-hexagon-rating-small(data-max='10', data-size='50', title='3.8 out of 10')
              span 3.8
        .col-md-8
          .clearfix
            h3.h2.pull-left.m-0
              a(href='blog-post-3.html') نگاهی به بازی Kingdoms of Amalur
            span.date.pull-right
              i.fa.fa-calendar
              |  1 فروردین، 1395
          .tags
            i.fa.fa-tags
            a(href='#') Kingdoms of Amalur
            | , 
            a(href='#') game
            | , 
            a(href='#') review
          .description
            p
              | تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست تست
          a.btn.read-more(href='blog-post-3.html') ادامه مطلب
      // /Single News Block
    // /Latest News
    // Partners
    section.youplay-banner.youplay-banner-parallax.small.mt-80
      .image(style="background-image: url('/images/banner-bg.jpg');")
      //
        <div class="info align-center">
        <div>
        <h2 class="mb-40">Partners</h2>
        <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <div class="owl-carousel" data-autoplay="6000">
        <div class="item">
        <a href="#">
        <img src="/images/partner-logo-1.png" alt="">
        </a>
        </div>
        <div class="item">
        <a href="#">
        <img src="/images/partner-logo-2.png" alt="">
        </a>
        </div>
        <div class="item">
        <a href="#">
        <img src="/images/partner-logo-3.png" alt="">
        </a>
        </div>
        <div class="item">
        <a href="#">
        <img src="/images/partner-logo-4.png" alt="">
        </a>
        </div>
        <div class="item">
        <a href="#">
        <img src="/images/partner-logo-5.png" alt="">
        </a>
        </div>
        <div class="item">
        <a href="#">
        <img src="/images/partner-logo-6.png" alt="">
        </a>
        </div>
        <div class="item">
        <a href="#">
        <img src="/images/partner-logo-7.png" alt="">
        </a>
        </div>
        <div class="item">
        <a href="#">
        <img src="/images/partner-logo-8.png" alt="">
        </a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    // /Partners
    // Features
    h2.container.h1 توانایی های تیم bazivision
    section.youplay-features.container
      .col-md-3.col-sm-6
        a.feature.angled-bg(href='#')
          i.fa.fa-line-chart
          h3 خدمات SEO
          small عرفی وب سایت به موتورهای جستجو
      .col-md-3.col-sm-6
        .feature.angled-bg
          i.fa.fa-pencil-square-o
          h3 طراحی لوگو
          small سادگی و زیبایی
      .col-md-3.col-sm-6
        .feature.angled-bg
          i.fa.fa-list-alt
          h3 تولید محتوا
          small ایجاد محتوای وب سایت
      .col-md-3.col-sm-6
        .feature.angled-bg
          i.fa.fa-html5
          h3 طراحی سایت
          small واکنش گرا و مدرن


block addscript
  script(type='text/javascript', src='/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.tools.min.js')
  script(type='text/javascript', src='/plugins/slider-revolution/examples&source/rs-plugin/js/jquery.themepunch.revolution.min.js')
  script(type='text/javascript', src='/plugins/isotope/isotope.pkgd.min.js')