doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title BaziVision

    link(rel="icon",type="image/png",href="/images/icon.png")
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
    link(href='/stylesheets/main.css', rel='stylesheet')
  body
    // Preloader
    .page-preloader.preloader-wrapp
      img(src='/images/logo.png', alt='')
      .preloader


    include ./partials/nav
    section.content-wrap
      block content 
      // Footer
      footer.youplay-footer-parallax
        .wrapper(style="background-image: url('/images/footer-bg.jpg')")
          // Social Buttons
          .social
            .container
              h3
                | با  
                strong bazivision
                |  در شبکه های اجتماعی همراه شوید
              .row.icons
                .col-xs-6.col-sm-3
                .col-xs-6.col-sm-3
                  a(href='#!')
                    i.fa.fa-instagram
                    span ارتباط در اینستاگرام
                .col-xs-6.col-sm-3
                  a(href='#!')
                    i.fa.fa-paper-plane
                    span ارتباط در تلگرام
                .col-xs-6.col-sm-3
          // /Social Buttons
          // Copyright
          .copyright
            .container
              | تمامی حقوق برای سایت 
              strong bazivision
              |  محفوظ است

      // Search Block
      .search-block
        a.search-toggle.glyphicon.glyphicon-remove(href='#!')
        form(action='search.html')
          .youplay-input
            input(type='text', name='search', placeholder='Search...')

    
    //- script(src="/plugins/jquery/jquery.min.js")
    script(src="/build/bundle.js")
    block addscript