doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title BaziVision

    link(rel="icon",type="image/png",href="/images/icon.png")
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
    link(href='/stylesheets/main.css', rel='stylesheet')
  body
    // Preloader
    .page-preloader.preloader-wrapp
      img(src='/images/logo.png', alt='')
      .preloader


    include ./partials/nav
    section.content-wrap.full
      .youplay-banner.banner-top
        .image(style="background-image: url('/images/banner-bg.jpg')")
        .info
          div
            .container.align-center
              block content 
        // Footer
    include ./footer


    
    script(src="/build/bundle.js")
    // Google Analytics
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-79514264-1', 'auto');
      ga('send', 'pageview');
    script(async='', src='https://www.google-analytics.com/analytics.js')
    block addscript