doctype html
html(lang="fa")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //- meta(http-equiv='Content-Language', content='fa, en')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description' content='سرویس ویدیویی بازی های کامپیوتری که شامل تریلر, بازی نامه, موسیقی, نقد, آخرین اخبارها و تازه های بازی های کامپیوتری برای گیمیرهای فارسی زبان می باشد.')
    meta(name='keyword' content='ویدیو گیم,ویدو,بازی,نقد بازی')
    meta(name='googlebot' content='noarchieve')
    meta(name='author' content='BaziVision')

    block title
      title ‌‌‌بازی ویژن | Bazivision

    link(rel="icon",type="image/png",href="/images/icon.png")
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
    link(href='/stylesheets/main.css', rel='stylesheet')
    block addLink
  body
    // Preloader
    .page-preloader.preloader-wrapp
      img(src='/images/logo.png', alt='بازی ویژن')
      .preloader


    include ./partials/nav
    section.content-wrap
      block content 
        
      include ./footer
    
    script(src="/build/bundle.js")
      
    // Google Analytics
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-79514264-1', 'auto');
      ga('send', 'pageview');
    script(async, src='https://www.google-analytics.com/analytics.js')

    block addscript