form(method="post", action="/clips#{item ? '/'+item._id: ''}", enctype="multipart/form-data")
  fieldset.form-group
    input.form-control(placeholder="title", name="title", value="#{item ? item.title : ''}" required)
  fieldset.form-group
    textarea.form-control(placeholder="body", name="body", required)
      = item ? item.body : ''
  fieldset.form-group
    select.form-control(name="_category")
      each cat in cats
        option(value="#{cat._id}", selected=(item && item._category.toString() == cat._id.toString()) )= cat.name

  unless item && item._id
    fieldset.form-group
      .row
        .col-xs-4
          label CLIP:
        .col-xs-8
          input(type="file", name="clip", required)
  fieldset.form-group
    .row
      .col-xs-4
        label IMAGE:
      .col-xs-8
        input(type="file", name="image", required)
  button.btn.btn-primary.btn-block Submit