extends ../layout

block content
  .container.mt-80
    h1.text-xs.center New Video Clip
    .p-20
      include ./form
      
      
    table.table.table-bordered
      each clip in items
        tr
          td
            a(href=clip.page)= clip.title
          td= clip._category ? clip._category.name : null 
          td
            a(href="/clips/#{clip._id}/tags") +tags
          td
            a(href="/clips/#{clip._id}/edit")
              span.fa.fa-edit
          td
            a(href="/clips/delete/"+clip._id)
              span.fa.fa-trash
