extends ../layout

block content
  section.content-wrap.full.youplay-login
    .youplay-banner.banner-top
      .image(style="background-image: url('/images/banner-bg.jpg')")
      .container.align-center
        .row
          .col-xs-12.col-md-6
            h1.text-xs.center New Video Clip
            form(method="post", action="/clips", enctype="multipart/form-data")
              fieldset.form-group
                input.form-control(placeholder="title", name="title", required)
              fieldset.form-group
                textarea.form-control(placeholder="body", name="body", required)
              fieldset.form-group
                select.form-control(name="_category")
                  each cat in cats
                    option(value="#{cat._id}")= cat.name
              fieldset.form-group
                .row
                  .col-xs-4
                    label CLIP:
                  .col-xs-8
                    input(type="file", name="clip", required)
              fieldset.form-group
                .row
                  .col-xs-4
                    label IMAGE:
                  .col-xs-8
                    input(type="file", name="image", required)
              button.btn.btn-primary.btn-block Submit
              
              
          .col-xs-12.col-md-6
            table.table.table-bordered
              each clip in items
                tr
                  td= clip.title
                  td= clip._category
                  td
                    a(href="/clips/delete/"+clip._id)
                      span.fa.fa-trash
