extends ../layout

block content
  section.content-wrap.full.youplay-login
    .youplay-banner.banner-top
      .image(style="background-image: url('/images/banner-bg.jpg')")
      .container.align-center
        .row
          .col-xs-12.col-md-6
            h1.text-xs.center New Video Clip
            include ./form
              
              
          .col-xs-12.col-md-6
            table.table.table-bordered
              each clip in items
                tr
                  td= clip.title
                  td= clip._category
                  td
                    a(href="/clips/#{clip._id}/tags")
                      | +tags
                  td
                    a(href="/clips/#{clip._id}/edit")
                      span.fa.fa-edit
                  td
                    a(href="/clips/delete/"+clip._id)
                      span.fa.fa-trash
