mixin carousel(items, name)
  .youplay-carousel(data-autoplay='5000')
    each item in items
      a.angled-img(href='/games/#{item._id}/#{item.name}')
        .img
          img(src='/images/cats/500/#{item._id}.jpg', alt='')
        .over-info
          div
            div
              h4= item.name
              p.btn.btn-xs(href='#!') بازی نامه
