mixin carousel(items, name)
  .row.carousel-box
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.carousel
      p.m-t-1= name
      .owl-carousel
        for itm in items
          .item
            a(href='#')
              div
                img.img-responsive(src='/images/wow1.jpg')
                span.duration 10:30
              p عنوان عنوان عنوان عنوان عنوان عنوان عنوان 
            ul
              li مهدی زنگنه
              li
                | 2 ماه پیش 
                span •
                |  100 بازدید
