mixin genres-sidebar(genres)
  .side-block.right-side
    h4.block-title سبک بازی ها
    ul.block-content
      li
        a(href='/genre/view') همه بازی ها
      each genre in genres
        li
          a(href='/genre/view/#{genre._id}/#{genre.name}')= genre.name