.btn-group.social-list.social-likes(data-counters='no')
  a.btn.btn-default.twitter-share-button(href='https://twitter.com/share?via=bazvsion', data-via='bazivision', data-related='bazivision', data-hashtags='bazivision', data-dnt='true')
    span.fa.fa-twitter
  a.btn.btn-default.facebook-share-button(href='https://www.facebook.com/sharer/sharer.php', target='_blank')
    span.fa.fa-facebook
  a.btn.btn-default.telegram-share-button(href='https://telegram.me/share/url?url=', target='_blank', data-telegram='true')
    span.fa.fa-send
  a.btn.btn-default(href="https://www.instagram.com/bazivision/", target="_black")
    span.fa.fa-instagram