extends ../layout-normal
block content
	h1= item.name

	form(method="post")
		.form-group
			.row
				each type in ['pros', 'cons']
					.col-xs-6
						h2= type
						each i in [0,1,2,3,4]
							input.form-control(type="text", name="#{type}", value=(item.properties[type][i]) )
		button.btn.btn-block(type="submit") submit
