    .youplay-banner.banner-top.youplay-banner-parallax.xsmall
      .image(style="background-image: url('assets/images/banner-blog-bg.jpg')")
      .info
        div
          .container
            h1 Bloodborne - First Try!
    .container.youplay-news.youplay-post
      .col-md-9
        article.news-one
          .description
            a.angled-img.pull-left.video-popup(href='#')
              .img
                img(src='assets/images/game-bloodborne-500x375.jpg', alt='')
              i.fa.fa-play.icon
            p
              | Jackson Isai? Tu quoque ... A te quidem a ante. Vos scitis quod blinking res Ive 'been vocans super vos? Et conteram illud, et conteram hoc. Maledicant druggie excors. Iam hoc tu facere conatus sum ad te in omni tempore?
            p
              | Ludum mutavit. Verbum est ex. Et ... sunt occidat. Videtur quod est super omne oppidum. Quis transfretavit tu iratus es contudit cranium cum dolor apparatus. Qui curis! Modo nobis certamen est, qui non credunt at.
            p
              | Nonne vides quid sit? Tu es ... Jesse me respice. Tu ... blowfish sunt. A blowfish! Cogitare. Statura pusillus, nec sapientium panem, nec artificum. Sed predators facile prædam blowfish secretum telum non se habet. Non ille? Quid faciam blowfish, Isai.
              | Blowfish quid faciat? In blowfish inflat, purus?
            p
              | Blowfish librantur in se quatuor, quinquies maior quam normalis, et quare? Quare id faciam? Ut terrorem facit, qui quid. Terrent! Ut alter, scarier pisces agminis off. Et quod tu es? Vos blowfish. Tu iustus in omnibus visio. Vides ... suus ' suus 'non
              | aliud aerem. Nunc ... qui cum partibus blowfish Isai? Tu damnare ius. Vos blowfish. Dicere iterum. Dicere illam quasi velis eam. Es BLOWFISH!
            p
              | Ut sibi fuerat socius sagittis. Ego intervenerit. Vere quia a te nuper iratus occidit illos undecim annorum puer. Deinde, si hoc forte qui fuit imperavit.
          hr
          .tags
            i.fa.fa-tags
            a(href='#') Bloodborne
            | , 
            a(href='#') first try
            | , 
            a(href='#') first boss problem
            | , 
            a(href='#') newbie game
          .meta
            .item
              i.fa.fa-user.meta-icon
              | Author 
              a(href='#!') nK
            .item
              i.fa.fa-calendar.meta-icon
              | Published 
              a(href='#!') Today
            .item
              i.fa.fa-bookmark.meta-icon
              | Categories 
              a(href='#!') First Try
            .item
              i.fa.fa-eye.meta-icon
              | Views 384
            .item
              a(href='#')
                i.fa.fa-heart
                |  27
          .btn-group.social-list.social-likes(data-counters='no')
            span.btn.btn-default.facebook(title='Share link on Facebook')
            span.btn.btn-default.twitter(title='Share link on Twitter')
            span.btn.btn-default.plusone(title='Share link on Google+')
            span.btn.btn-default.pinterest(title='Share image on Pinterest', data-media='')
            span.btn.btn-default.vkontakte(title='Share link on VK')
