    .col-md-9
      h1.mt-0 تازه ها
      .news-one
        .row.vertical-gutter
          .col-md-4
            a.angled-img(href='blog-post-1.html')
              .img
                img(src='assets/images/game-bloodborne-500x375.jpg', alt='')
              .over-info.bottom.h4 March 1, 2015
          .col-md-8
            .clearfix
              h3.h2.pull-left.m-0
                a(href='blog-post-1.html') تاریخ اکران بازی Worlf of Warcraft - Legion
            .tags
              i.fa.fa-tags
              a(href='#') world of warcraft
              | , 
              a(href='#') legion
              | , 
              a(href='#') تاریخ اکران
              | , 
              a(href='#') game
            .description
              p
                | خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر
              p
                | خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر خلاصه ای از متن خبر
            a.btn.read-more.pull-left(href='blog-post-1.html') ادامه خبر
      nav
        ul.pager
          li
            a(href='#') بعدی
          li
            a(href='#') قبلی
