extends ../layout
block content
  .youplay-banner.banner-top.youplay-banner-parallax.xsmall
    .image(style="background-image: url('#{item.poster.big}')")
    .info
      div
        .container
          h1= item.title
  .container.youplay-news.youplay-post
    .col-md-9
      article.news-one
        .description!= item.body
        //- hr
        //- .tags
        //-   i.fa.fa-tags
        //-   a(href='#') Bloodborne
        //-   | , 
        //-   a(href='#') first try
        //-   | , 
        //-   a(href='#') first boss problem
        //-   | , 
        //-   a(href='#') newbie game
        //- .meta
        //-   .item
        //-     i.fa.fa-user.meta-icon
        //-     | Author 
        //-     a(href='#!') nK
        //-   .item
        //-     i.fa.fa-calendar.meta-icon
        //-     | Published 
        //-     a(href='#!') Today
        //-   .item
        //-     i.fa.fa-bookmark.meta-icon
        //-     | Categories 
        //-     a(href='#!') First Try
        //-   .item
        //-     i.fa.fa-eye.meta-icon
        //-     | Views 384
        //-   .item
        //-     a(href='#')
        //-       i.fa.fa-heart
        //-       |  27
        //- .btn-group.social-list.social-likes(data-counters='no')
        //-   span.btn.btn-default.facebook(title='Share link on Facebook')
        //-   span.btn.btn-default.twitter(title='Share link on Twitter')
        //-   span.btn.btn-default.plusone(title='Share link on Google+')
        //-   span.btn.btn-default.pinterest(title='Share image on Pinterest', data-media='')
        //-   span.btn.btn-default.vkontakte(title='Share link on VK')
