extends ../../layout
block content
  .container.mb-20
    h1 news page
    include ./form

    table.table
      each item in data.items
        tr
          td
            a(href=item.page)= item.title
          td
            a(href="/admin/news/#{item._id}/delete")
              span.fa.fa-trash
          td
            a(href="/admin/news/#{item._id}/edit")
              span.fa.fa-edit

block addLink
  // Include Editor style.
  link(href='/froala/css/froala_editor.min.css', rel='stylesheet', type='text/css')
  link(href='/froala/css/froala_style.min.css', rel='stylesheet', type='text/css')
  // Include Code Mirror style
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')
  // Include Editor Plugins style.
  link(rel='stylesheet', href='/froala/css/plugins/char_counter.css')
  link(rel='stylesheet', href='/froala/css/plugins/code_view.css')
  link(rel='stylesheet', href='/froala/css/plugins/colors.css')
  link(rel='stylesheet', href='/froala/css/plugins/emoticons.css')
  link(rel='stylesheet', href='/froala/css/plugins/file.css')
  link(rel='stylesheet', href='/froala/css/plugins/fullscreen.css')
  link(rel='stylesheet', href='/froala/css/plugins/image.css')
  link(rel='stylesheet', href='/froala/css/plugins/image_manager.css')
  link(rel='stylesheet', href='/froala/css/plugins/line_breaker.css')
  link(rel='stylesheet', href='/froala/css/plugins/quick_insert.css')
  link(rel='stylesheet', href='/froala/css/plugins/table.css')
  link(rel='stylesheet', href='/froala/css/plugins/video.css')


block addscript
  // Include JS files.
  script(type='text/javascript', src='/froala/js/froala_editor.min.js')
  // Include Code Mirror.
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js')
  // Include Plugins.
  script(type='text/javascript', src='/froala/js/plugins/align.min.js')
  script(type='text/javascript', src='/froala/js/plugins/char_counter.min.js')
  script(type='text/javascript', src='/froala/js/plugins/code_beautifier.min.js')
  script(type='text/javascript', src='/froala/js/plugins/code_view.min.js')
  script(type='text/javascript', src='/froala/js/plugins/colors.min.js')
  script(type='text/javascript', src='/froala/js/plugins/emoticons.min.js')
  script(type='text/javascript', src='/froala/js/plugins/entities.min.js')
  script(type='text/javascript', src='/froala/js/plugins/file.min.js')
  script(type='text/javascript', src='/froala/js/plugins/font_family.min.js')
  script(type='text/javascript', src='/froala/js/plugins/font_size.min.js')
  script(type='text/javascript', src='/froala/js/plugins/fullscreen.min.js')
  script(type='text/javascript', src='/froala/js/plugins/image.min.js')
  script(type='text/javascript', src='/froala/js/plugins/image_manager.min.js')
  script(type='text/javascript', src='/froala/js/plugins/inline_style.min.js')
  script(type='text/javascript', src='/froala/js/plugins/line_breaker.min.js')
  script(type='text/javascript', src='/froala/js/plugins/link.min.js')
  script(type='text/javascript', src='/froala/js/plugins/lists.min.js')
  script(type='text/javascript', src='/froala/js/plugins/paragraph_format.min.js')
  script(type='text/javascript', src='/froala/js/plugins/paragraph_style.min.js')
  script(type='text/javascript', src='/froala/js/plugins/quick_insert.min.js')
  script(type='text/javascript', src='/froala/js/plugins/quote.min.js')
  script(type='text/javascript', src='/froala/js/plugins/table.min.js')
  script(type='text/javascript', src='/froala/js/plugins/save.min.js')
  script(type='text/javascript', src='/froala/js/plugins/url.min.js')
  script(type='text/javascript', src='/froala/js/plugins/video.min.js')
  // Include Language file if we want to use it.
  script(type='text/javascript', src='/froala/js/languages/fa.js')
  // Initialize the editor.
  script.
    $(function() {
      $('#edit').froalaEditor({
        imageUploadURL: '/admin/images',
        imageUploadParams: {
          id: 'my_editor'
        }
      }).on('froalaEditor.image.removed', function (e, editor, $img) {
        $.ajax({
          // Request method.
          method: "DELETE",

          // Request URL.
          url: "/admin"+$img.attr('src'),

          // Request params.
          data: {
            src: $img.attr('src')
          }
        })
        .done (function (data) {
          console.log ('image was deleted');
        })
        .fail (function () {
          console.log ('image delete problem');
        })
      });
    });